mi-nav {
  display: block;
  background-color: #a3e4d7;
  border-style: outset;
}

mi-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #a3e4d7;
}

mi-nav ul li {
  margin: 0.5rem;
  background-color: #a3e4d7;
}
